@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

:root{
    --fonte1: 'Cairo', sans-serif;
}

*{
    font-family: var(--fonte1);
    padding: 0px;
    margin: 0px;
}

body{  
  padding-top: 10px;
  background:url('https://img.freepik.com/psd-gratuitas/foguete-espacial-3d-com-fumaca_23-2148938939.jpg?size=338&ext=jpg');
  
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

#calc{
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/26ec7441130093.57a0a26b424b9.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding-top: 10px;

}

input::placeholder{
    color:rgba(255,255,255,0.6)
    }

#btnres{
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px;
}


sub {
    vertical-align: top;
    font-size: x-small;
}

h2{
    font-size: small;
    color: white;
}

#n3 h1{
    font-size:70px;
    color: white;
}

#entrada{
    text-align:center; 
    background-color:rgba(050,150,150,0.4);
    padding:5vw;
    padding-top: 0vw ;
    border-radius:14px;
    margin-bottom: 10px;
}

#resultado{
   display:flex; 
   overflow:auto;
   border-radius: 14px;
   height: 60vh;  
   background-color: rgba(0,0,0,0.3); 
}

#saida, #saida1, #saida2, #saida3, #saida4, #n3{
    overflow-x: hidden;
    display: block;
    width: 50vw;
    border: 0.2px solid rgba(0, 0,0,0.2); 
    padding:2vw;
    height: fit-content;
    max-height: 60vh;
    box-sizing: border-box;
    text-align: center;
    border-bottom: none;
    color: white;
}

#tela::placeholder{
    color:black;
}

#tela{
    display: flex;
    margin:auto;
    width:305px;
    height: 10vh;
    border:1px solid black;
    color:black;
    font-size: x-large;
    background-color:#a6901f63 /*rgba(255,255,255,0.4);*/
}

.btn{
    font-size:x-large;
    height:75px;
    width: 75px;
    border: 1px solid #A69D1F;
    font-weight: 800;
    box-shadow: 1px 1px 3px #F2E635;
    
}

.btn:hover{
    box-shadow: inset;
}
