@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

:root{
    --fonte1: 'Cairo', sans-serif;
}

*{
    font-family: var(--fonte1);
    padding: 0px;
    margin: 0px;
}

input::placeholder{
    color: rgb(050,150,150);
  }

#btnres{
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 2px;
}


sub {
    vertical-align: top;
    font-size: x-small;
}

h2{
    font-size: small;
}

#n3 h1{
    font-size:70px;
}

#entrada{
    text-align:center; 
    background-color:rgba(050,150,150,0.8);
    padding:5vw;
    padding-top: 0vw ;
    border-radius:14px;
    margin-bottom: 20px;
}

#resultado{
   display:flex; 
   overflow:auto;
   border-radius: 14px;
   height: fit-content;  
   background-color: rgba(0,0,0,0.3); 
}

#saida, #saida1, #saida2, #saida3, #saida4, #n3{
    overflow-x: hidden;
    display: block;
    width: 50vw;
    border: 0.2px solid rgba(0, 0,0,0.2); 
    padding:2vw;
    height: fit-content;
    max-height: 70vh;
    box-sizing: border-box;
    text-align: center;
    border-bottom: none;
}
